html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    background: url("wa-background.jpg")
}

/* HEADER */
header{
    background: #f3f3f3;
    padding: 10px;
}

header h1{
    margin: 0;
    text-transform: uppercase;
    font-family: Arial;
    font-size: 24px;
}

header p{
    margin: 0;
    font-family: Arial;
    font-size: 14px;
}

/* MAIN AREA (MESSAGES) */

.messages ol {
    list-style: none;
    padding: 0;
}

/* MESSAGE */

.message{
    margin-left: 15px;
    margin-right: 15px;
    /* short written */
    margin: 0 15px;
    margin-bottom: 15px;
}

.message p{
    padding: 5px;
    margin: 0;
    display: inline-block;
}

.message p .name{
    margin-right: 10px;
    font-weight: bold;
    margin-right: 10px;
}

.message p .time{
    margin-left: 10px;
    font-style: italic;
    color: #cacaca;
    margin-top: 5px;
}

/* MY MESSAGE */

.message.mine{
    text-align: right;
}
.message.mine p{
    background-color: #F4FAE3;
}
.message.mine p .time{
    display: block;
}
/* YOUR MESSAGE */

.message.yours p{
    background-color: rgb(125, 198, 240);
}
.message.yours p .time{
    color: grey;
}

/* INPUT */
footer{
    position: fixed;
    bottom: 0;
    height: 100px;
    width: 100%;
    padding: 15px;
    background-color: rgb(125, 198, 240);

}

footer input{
    height: 100%;
    border: none;
    margin: 0;
    padding: 0;
    float: left;
}

footer input[type="text"]{
    width:70%;
    background-color: lightblue;
    outline: none;
    padding: 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
footer input[type="submit"]{
    width:30%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}