/* HEADER */
header{
    background: #cacaca;
    padding: 10px;
}

header h1{
    margin: 0;
}

header p{
    margin: 0;
}

/* MAIN AREA (MESSAGES) */

.messages ol {
    list-style: none;
    padding: 0;
}

/* MY MESSAGE */

.my-message{
    margin-left: 15px;
    margin-right: 15px;
    /* short written */
    margin: 0 15px;
    margin-bottom: 15px;
    text-align: right;
}

.my-message p{
    padding: 5px;
    margin: 0;
    display: inline-block;
    background-color: #F4FAE3;
}

.my-message p .name{
    margin-right: 10px;
    font-weight: bold;
    margin-right: 10px;
}

.my-message p .time{
    margin-left: 10px;
    font-style: italic;
    color: #cacaca;
    display: block;
    margin-top: 5px;
}


/* YOUR MESSAGE */

.your-message{
    margin-left: 15px;
    margin-right: 15px;
    /* short written */
    margin: 0 15px;
    margin-bottom: 15px;
    text-align: left;
}

.your-message p{
    padding: 5px;
    margin: 0;
    display: inline-block;
    background-color: #F4FAE3;
}

.your-message p .name{
    margin-right: 10px;
    font-weight: bold;
    margin-right: 10px;
}

.your-message p .time{
    margin-left: 10px;
    font-style: italic;
    color: #cacaca;
    display: block;
    margin-top: 5px;
}