/* HEADER */
header{
    background: #cacaca;
    padding: 10px;
}

header h1{
    margin: 0;
}

header p{
    margin: 0;
}

/* MAIN AREA (MESSAGES) */

.messages ol {
    list-style: none;
    padding: 0;
}

.my-message{
    margin-left: 15px;
    margin-right: 15px;
    /* short written */
    margin: 0 15px;
}

.my-message p{
    padding: 5px;
    margin: 0;
    display: inline-block;
    background-color: #F4FAE3;
}
